@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient(90deg, #57ddff, #c058f3);

  /* LIGHT THEME COLORS*/
  /* --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%); */

  /* DARK THEME COLORS*/
  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlue: hsl(234, 39%, 85%);
  --LightGrayishBlue1: hsl(236, 33%, 92%); /* (hover) */
  --DarkGrayishBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
  --VeryDarkGrayishBlue1: hsl(237, 14%, 26%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}
img {
  max-width: 100%;
}
button {
  background: transparent;
  border: none;
  outline: none;
}
/* HEADER*/
.header {
  width: 100%;
  height: 300px;
  background-image: url(./images/bg-desktop-dark.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}
/* TITLE & THEME SWITCHER*/
.title-theme-div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40px;
  z-index: 9;
}
/* TITLE*/
.title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 20px;
  line-height: 40px;
}
/* THEME SWITHER*/
.theme-switcher {
  width: 40px;
  height: 40px;
  padding-left: 14px;
  padding-top: 7px;
}
.theme-switcher img {
  object-fit: cover;
  cursor: pointer;
}
/* APP */
.app {
  width: 100%;
  min-height: 100vh;
  background-color: var(--VeryDarkBlue);
  padding-bottom: 5rem;
}
/* MAIN */
.main {
  width: 40%;
  margin: -8.3rem auto 0;
  z-index: 99999;
  position: relative;
}
/* FORM*/
.form {
  /* padding: 1rem; */
  width: 100%;
  position: relative;
}
/* INPUT */
.form input {
  width: 100%;
  height: 65px;
  padding: 1rem 1rem 1rem 4rem;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: var(--VeryDarkDesaturatedBlue);
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: var(--LightGrayishBlue);
}
input::placeholder {
  color: var(--DarkGrayishBlue);
}
.form .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--DarkGrayishBlue);
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  cursor: pointer;
}
.form .circle:hover {
  left: 1.7rem;
  width: 20px;
  height: 20px;
  background-color: #57ddff;
}
/* LIST */
.list {
  width: 100%;
  margin-top: 1.5rem;
  list-style: none;
  border-radius: 7px;
  background-color: var(--VeryDarkGrayishBlue1);
  overflow: hidden;
  box-shadow: 0px 5px 10px 2px var(--VeryDarkDesaturatedBlue);
}
/* TODO ROW */
.todo {
  width: 100%;
  height: 65px;
  padding: 1rem 1.5rem 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--VeryDarkDesaturatedBlue);
  border-bottom: 1px solid var(--VeryDarkGrayishBlue);
  position: relative;
  cursor: pointer;
}
.todo:hover .remove-btn {
  display: flex;
}
/* EMPTY TODO LIST */
.empty-todo {
  width: 100%;
  height: 150px;
  padding: 1rem;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 5px;
  color: var(--BrightBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  background-color: var(--VeryDarkDesaturatedBlue);
  border-bottom: 1px solid var(--VeryDarkGrayishBlue);
}
/* TODO-ITEM */
.todo-item {
  color: var(--LightGrayishBlue);
  font-size: 18px;
  cursor: pointer;
  padding: 5px 5px 5px 0;
}
/* CHECKBOX */
.todo input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--DarkGrayishBlue);
  background: transparent;
  position: absolute;
  outline: none;
  cursor: pointer;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}
/* CHECKBOX+HOVER */
.todo .checkbox:hover {
  border: 2px solid #57ddff;
}
/* CHECKBOX+CHECKED */
.todo input[type="checkbox"]:checked {
  background: url(./images/icon-check.svg) no-repeat 7px 7px,
    var(--CheckBackground);
}

/* REMOVE BUTTON */
.remove-btn {
  position: absolute;
  display: none;
  place-items: center;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.remove-btn img {
  padding-top: 10px;
  object-fit: cover;
}
/* LIST CONTROLS */
.controls {
  width: 100%;
  height: 55px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--VeryDarkDesaturatedBlue);
  position: relative;
}
.list-controls {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-out;
}
.controls button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: var(--VeryDarkGrayishBlue);
  cursor: pointer;
}
/* ALL BUTTON*/
.list-controls .all {
  color: var(--BrightBlue);
  font-weight: 700;
}
.list-controls .active:hover {
  color: var(--LightGrayishBlue);
}
.list-controls .completed:hover {
  color: var(--LightGrayishBlue);
}

.controls .clear-all:hover {
  color: var(--DarkGrayishBlue);
}
/* STYLING TASKS LEFT TO DO
2, LAYOUT (CONTROLS)
3, RESPONSIVENESS
4, THEME SWITHER
 */
@media only screen and (max-width: 1350px) {
  .main {
    width: 55%;
  }
}
@media only screen and (max-width: 1050px) {
  .main {
    width: 65%;
  }
  .app {
    padding-bottom: 10rem;
  }
  .list-controls {
    position: absolute;
    top: 5rem;
    transform: translate(-50%, 0);
    width: 100%;
    height: 55px;
    padding: 1rem 2rem;
    justify-content: center;
    background-color: var(--VeryDarkDesaturatedBlue);
  }
}
